@import "~bootstrap/scss/bootstrap";

@import "admin/login";
@import "admin/header";
@import "admin/sidebar";
@import "admin/post";
@import "image";

html,
body {
    font-size: 10px;
}

html > body {
    margin: 0;
}

$header-height: 4.8rem;
.container-fill {
    height: calc(100vh - #{$header-height});
    > .row {
        height: calc(100vh - #{$header-height});
    }
}

:root {
    --text-dark: var(--bs-dark);
    --text-light: var(--bs-light);
}

.admin-page {
    font-size: 1.6rem;

    input {
        font-size: 1.6rem;
    }
}
