@import "public/font";
@import "public/card";
@import "public/button";
@import "public/postList";
@import "public/page";
@import "public/post";
@import "public/welcome";
@import "public/consent";
@import "public/footer";
@import "public/header";

:root {
    --dark: #303841;
    --dark-grey: #3a4750;
    --red: #d72323;
    --light: #eeeeee;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
div,
section,
header,
footer,
body {
    font-family: "Montserrat";
}
