@import "public/font";
@import "public/card";
@import "public/postList";
@import "public/page";

:root {
    --dark: #303841;
    --dark-grey: #3a4750;
    --red: #d72323;
    --light: #eeeeee;
}

html,
body {
    font-family: 10px;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
div,
section,
header,
footer,
body {
    font-family: "Montserrat";
}
