@import "mixins";

.post-list {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
        width: 20rem;
        margin: 0 2rem 2rem 0;
        @include mobile {
            margin: 0 0 2rem 0;
        }

        &:nth-child(3n + 3),
        &:last-child {
            margin-right: 0;
        }
    }
}
