.post-list {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0 auto;
    justify-content: center;

    &__item {
        flex: 1 0;
        // TODO: figure out correct width
        max-width: 25%;
        &:not(:last-child) {
            margin: 0 2rem 0 0;
        }
    }
}
